<link rel="stylesheet" href="form.component.css">


<form style="padding-top: 20px;"  (submit)="onFormSubmit()">

    <p>*Input N/A for null value</p>
    <!-- Code -->
    <div class="form-group flex">
        <div class="col-25"><label for="code">Code</label></div>
        <div class="col-75"><input type="text" class="form-control" id="code" name="code"  [(ngModel)]="projects.code"></div>
    </div>

    <!-- Name -->
    <div class="form-group flex">
        <div class="col-25"><label for="name">Name</label></div>
        <div class="col-75"><input type="text" class="form-control" id="name" name="name"  [(ngModel)]="projects.name"></div>
    </div>

    <!-- Category -->
    <div class="form-group flex">
        <div class="col-25"><label for="category">Category</label></div>
        <div class="col-75"><input type="text" class="form-control" id="category" name="category"  [(ngModel)]="projects.category"></div>
    </div>

    <!--  Brand -->
    <div class="form-group flex">
        <div class="col-25"><label for="brand">Brand</label></div>
        <div class="col-75"><input type="text" class="form-control" id="brand" name="brand"  [(ngModel)]="projects.brand"></div>
    </div>

    <!-- Type -->
    <div class="form-group flex">
        <div class="col-25"><label for="type">Type</label></div>
        <div class="col-75"><input type="text" class="form-control" id="type" name="type"  [(ngModel)]="projects.type"></div>
    </div>

    <!-- Description -->
    <div class="form-group flex">
        <div class="col-25"><label for="description">Description</label></div>
        <div class="col-75"><input type="text" class="form-control" id="description" name="description"  [(ngModel)]="projects.description"></div>
    </div>

    <div class="button">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>


</form>