.custom-snackbar {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .custom-snackbar.show {
    opacity: 1;
  }
  
  .success-snackbar {
    background-color: #4caf50; /* Green */
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: white;
  }

  .container{
    padding: 50px;
  }